<div class="modal fade" id="forumModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Форум туалетов</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control mb-2" id="usernameInput" placeholder="Введите ваше имя">
          <div class="chat-messages" id="chatMessages"></div>
          <form id="chatForm" class="d-flex mt-2">
            <input type="text" class="form-control me-2" id="chatInput" placeholder="Сообщение" required>
            <button type="submit" class="btn btn-pink">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>